build*
cmake-build*
.idea/
\#*\#
.\#*
*~
src/io/modelio.cpp
include/face/binary_model_file.h
include/face/FaceAlignment.h
include/face/Marcos.h
include/face/XXDescriptor.h
models/*.bin
models/*.xml
models/256*
data/
lib/libface.a
